*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent{
    height: 500px;
    border: 1px solid black;
display: flex;
flex-direction: row;
justify-content: start;
align-items: start;
flex-wrap: wrap-reverse;
align-content: space-between;

}

.child {
    width: 50px;
    height: 50px;
    border: 2px solid green;
    background-color: greenyellow;
   
}